.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 15px;
    
}

.nav{
    width: 600px;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 200px;
}
.cart{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 200px;
}

/* .navItem{
    width: 200px; 
} */

.cartItem{
    margin-left: 5px;
}